<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Sign In | Blog App</title>
</head>

<body>

    <%- include('./partials/nav') %>
        <div class="container mt-5">
            <h1 class="text-center">Sign In</h1>
            <form method="post" action="/user/signin">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="email">
                    <label for="floatingEmail">Email address</label>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password"
                        placeholder="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button type="submit" class="btn btn-dark mt-2">Submit</button>
            </form>
        </div>

        <%- include('./partials/script') %>
</body>

</html>